.productBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #C4513E;
  height: 30vh;
  width: 40vw;
  /* margin: 5vh 0 5vh 10vw; */
  margin: 5%;
  border-radius: 10px;
  padding: 10px;
}

.productImg {
  float: left;
  height: 90%;
  width: 50%;
  margin: 10px;
}

.productText {
  font-size: 1.5em;
  top: 50px;
}

.dashboardBtn {
  background: #62d183;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  margin: 3vh 2.5vw;
  padding: 1vw;
}
